body{
    font-family: 'Karla', sans-serif;
    color: #323A45;
    margin: 0 10%;
}

header{
    display: flex;
    justify-content: space-between;
    }
header p{
    font-size: 1.25rem;
}    

header ul{
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: flex-end;
}

header ul li{
    padding-left: 19%;
    white-space: nowrap;
}

header ul li a{
    font-size: 0.875rem;
    text-decoration: none;
    color:#323A45;
}
footer p{
    text-align: center;
    font-size: 1.25rem;
}
/* Seite add */
.addProduct h1{
    font-size: 2.25rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 8vh;
}

.addProduct form, .edit form{
    display: flex;
    flex-direction: column;  
}

.addProduct input, .addProduct textarea, .edit input, .edit textarea{
    margin-top: 2vh;
    background: #E5E5E5;
    border-radius: 5px;
    text-align: center;
    border:none;
    font-family: 'Open Sans', sans-serif;
}
.addProduct input, .edit input{
    height: 3rem;

}

.addProduct input[type="submit"], .edit input[type="submit"]{
    background: rgba(50, 58, 69, 0.6);
    color: #fff;
    font-size: 1.125rem;
    font-weight: bold;
}

.eyes {
    width: 5%;
    margin: 0 auto;
    display: block;
}

.line1{
    border-bottom: 1px solid #000;
    height: 3vh;
    width: 50%;
}

.line2{
    border-bottom: 1px solid #000;
    height: 3vh;
    width: 50%;
}
.line{
    display: flex;
    margin: 5vh 0;
}


.random{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.shop-article figcaption{
    display: flex;
    justify-content: space-between;
}

.shop-article figcaption h2{
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}

.shop-article figcaption span{
    color: #848484;
    font-size: .875rem;
}

.shop-article figcaption p{
    margin: 0;
}

/* Seite ShopItem */

.item section{
    text-align: right;
}

.item section a{
    text-decoration: none;
    color:#848484;
    padding-left: 2%;
    font-size: .875rem;
    text-align: right;
    display: inline-block;
}

.shop-article img{
    width: 100%;
}
.shop-article{
    margin: 0 0 8vh 0;
}

.item h3, .edit h3{
    margin: 7vh 0 4vh 0;
    font-size: 1.0625rem;
    font-weight: normal;
}

.description{
    font-size: .875rem;
    line-height: 1.5rem;
    margin-bottom: 5vh;
}

.item button{
    bottom: 5vh;
    padding: 3vh 5%;
    background-color: #fff;
    margin-bottom: 8vh;
}
.item .buy-button{
    text-align: right;
}
/* Styling edit */
.edit h1{
    text-align: center;
    color: rgba(50, 58, 69, 0.8);
    font-size: 3rem;
    font-weight: normal;
    margin: 12vh 0 7vh 0;
}

.edit form{
    margin-bottom: 10vh;
}
.edit input, textarea{
    color: rgba(50, 58, 69, 0.5);
}